title = "Advisory board"
url = "/advisory-board"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

==

<?php
use Pensoft\Partners\Models\Partners;
use Pensoft\Cardprofiles\Models\Profiles;

function onStart(){
	$this['advisory_board'] = Profiles::where('category_id',  2)->get();
}


?>
==

<div class="container-fluid banner adv-board pt-5">
	<div class="container">
		<div id="accordion-insider-members" class="partner-item">
			<div class="partners-accordion-border">
				{% if advisory_board.count > 0 %}
				<div class="advisory-accordion-content" id="insider-members">
					<div class="row top-xs">
						{% for profile in advisory_board %}
						<div class="col-md-3 col-xs-12">
							<div class="contact_info row">
								<div class="col-xs-12 coordinator_image">
									{% if profile.avatar %}
									<img alt="{{ profile.names }}" src="{{profile.avatar.thumb(236,236,{'mode':'crop'})}}">
									{% else %}
									<img alt="{{ profile.names }}" src="{{ 'person.svg'|media }}" width="236" height="236" class="no-image">
									{% endif %}
								</div>
								<div class="col-xs-12 coordinator_info">
									<h3>{{ profile.names }}</h3>
									<div class="body"><p class="read-more" onclick="expandReadMore(this);">Read more</p>{{ profile.content|raw }}</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}	
			</div>
		</div>			
	</div>

</div>



<!-- <div class="container-fluid banner">
	<div class="container advisory-board-container2">
		{% component 'profile_records' %}
	</div>
</div> -->