url = "/"
layout = "default"
title = "ForestPaths"
is_hidden = 0
meta_description = "homepage desc"
seo_keywords = "keywords"
robot_index = "index"
robot_follow = "follow"

[article_highlights]
maxItems = 10
title = "Latest news"
baseUrl = "/news"
templates = "template5"
thumb_width = 440
thumb_height = 235

[jumbotron homeIntro]
jumbotron = "homepage-subpages-list"
title = 0
background = "transperant"
templates = "template1"
description_limit = 0

[jumbotron linkedin]
jumbotron = "linkedin"
background = "transperant"
templates = "template1"
description_limit = 0

[Timeline events_timeline]
limit = 6
upcoming = 1
marked_for_display = 1
templates = "template3"
==
<?php
use Pensoft\Calendar\Models\Entry;
use Carbon\Carbon;

    function onStart(){
        $this['entries'] = Entry::where('show_on_timeline', true)->where('is_internal', false)->orderBy('start', 'asc')->get();
        $this['past_entries'] = Entry::where('end', '<', Carbon::now())->where('show_on_timeline', true)->where('is_internal', false)->orderBy('start', 'asc')->get();
        $this['ongoing_entries'] = Entry::where('end', '>=', Carbon::now())->where('show_on_timeline', true)->where('is_internal', false)->orderBy('start', 'asc')->get();
    }
?>
==
<div class="container homepage_subpages">
        <div class="row between-md around-xs">
            <div class="col-xs-12 ">
                {% component 'homeIntro' %}
            </div>
        </div>
</div>
{% if entries.count() %}
<!-- events timeline -->
<div class="container-fluid events_timeline_background">
    <div class="container" style="padding-bottom: 0">
        <div class="timeline timeline--loaded timeline--horizontal" style="opacity: 1;">
            <div class="timeline__wrap">
                <div class="timeline__items">
                    {% for entry in entries %}
                    {% if entry.start %}
                    <div class="timeline__item">
                        <div class="timeline__content index_{{entry.id}}">
                            <div class="date_and_place">
                                <span class="event_date">
                                    {% if entry.title == 'First Policy Lab' %}
                                    {{entry.event_date}}
                                    {% else %}
                                    {{entry.start | date('F Y')}}
                                    {% endif %}
                                </span>
                                <span>{{entry.place}}</span>
                            </div>
                            <div class="title_and_desc">
                                <div class="cover"><img src="{{entry.cover_image.path}}"></div>
                                <span class="timeline-body">{{entry.title}}</span>
                                <span class="timeline-desc">{{entry.description|raw}}</span>
                            </div>

                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <button class="timeline-nav-button timeline-nav-button--prev" disabled="" style="top: 265px;">Previous</button><button class="timeline-nav-button timeline-nav-button--next" style="top: 265px;">Next</button><span class="timeline-divider" style="top: 265px;"></span></div>
        </div>
        <script type="text/javascript">
            timeline(document.querySelectorAll('.timeline'), {
                forceVerticalMode: 700,
                mode: 'horizontal',
                verticalStartPosition: 'left',
                visibleItems: 6,    
                startIndex: {{ entries.count - ongoing_entries.count }}
            });
        </script>

    </div>
</div>
{% endif %}




<!-- latest from news -->
<div class="container-fluid bg-secondary" style="padding-bottom: 0">
    <div class="container">
        {% component 'article_highlights' %}
        <div class="row">
            <div class="col-xs-12 center-xs mb-4"><a href="{{'news'|page}}" class="read_more">All news</a> </div>
        </div>
    </div>
</div>


	<div class="container">
	<!-- subscribes -->
	<div class="row between-xs">

        <div class="col-xs-12"><h1 class="display-1">Follow ForestPaths</h1></div>
        <div class="col-lg-12 col-sm-12 col-xs-12">
            {% if this.theme.twitter and this.theme.twitter_url %}
            <p align="center" class="twitter_image"><a href="{{this.theme.twitter_url}}" class="social_circle" target="_blank"><i class="pr p-twitter large"></i> </a></p>
            {% endif %}

			<div class="twitter-widget">
            <a class="twitter-timeline" href="https://twitter.com/forestpaths_eu?ref_src=twsrc%5Etfw">Tweets by forestpaths_eu</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            {% if this.theme.linkedin and this.theme.linkedin_url %}
            <p align="center" class="linkedin_image"><a href="{{this.theme.linkedin_url}}" class="social_circle" target="_blank"><i class="pr p-linkedin large"></i> </a></p>
            {% endif %}
            <div class="linkedin-widget">
                {% component 'linkedin' %}
            </div>
        </div>
	</div>

</div>

<div class="container-fluid border-box subscribe-newsletter-background">
    <div class="row container middle-xs between-xs">
        <div class="col-xs-12 center-xs mb-1">Join our community by subscribing to our bi-annual newsletter.</div>
        <div class="col-xs-12 center-xs"><a href="{{this.theme.subscribe}}" class="btn btn-primary" target="_blank">Subscribe</a> </div>
    </div>
</div>
