url = "/partners"
layout = "default"
title = "Partners"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "partners.jpg"

==
<?php
use Pensoft\Partners\Models\Partners;
use Pensoft\Cardprofiles\Models\Profiles;

function onStart(){
	$this['partners'] =  Partners::where('type', 1)->get();
    $this['members'] = Profiles::where('category_id',  1)->get();

}

function onPartners(){
$this['partners'] = [];
if(post('code')){
$this['partners'] =  Partners::whereRaw('country_code ILIKE \'%'.post('code').'%\'')->where('type', 1)->get();
}
$this['insider_members'] = new class {
public function getIM($id) {
return Profiles::where('partner_id', $id)->where('category_id',  1)->get();
}
};
}

function onSinglePartner(){
$this['partners'] = [];
if(post('partner_id')){
$this['partners'] =  Partners::where('id', post('partner_id'))->where('type', 1)->get();
}



$this['insider_members'] = new class {
public function getIM($id) {
return Profiles::where('partner_id', $id)->where('category_id',  1)->get();
}
};
}
?>
==
<div class="container-fluid partners_background">
    <div class="svg_map">
        {% partial 'components/svg' %}
    </div>
    <div class="container">
        <span class="tooltiptext" id="tooltip">Bulgaria</span>
        <div class="row">
            <div class="col-md-7 col-xs-12 partners_list">
                {% for partner in partners %}
                <a class="parener_logo" onclick="onCustomSinglePartner({{partner.id}});" title="{{partner.instituion}}"><img class="partner_cover" src="{{partner.cover.thumb(96, auto, {'mode':'crop'})}}"></a>
                {% endfor %}
            </div>
            <div class="col-md-5 col-xs-12"></div>
        </div>

    </div>
    <div class="container partners-map-container">

        {% if members.count > 0 %}
        <div id="accordion-insider-members" class="partner-item">
            <div class="accordion-border">
                <div class="row middle-xs accordion-toggle">
                    <div class="col-xs start-xs"><span class="showmembers read_more">Show all members <span></span></span></div>
                </div>
                <div class="accordion-content" id="insider-members" style="display: none;">
                    <div class="row top-xs">
                        {% for profile in members %}
                        <div class="col-md-3 col-xs-12">
                            <div class="contact_info row">
                                <div class="col-xs-12 coordinator_image">
                                    {% if profile.avatar %}
                                    <img alt="{{ profile.names }}" src="{{profile.avatar.thumb(236,236,{'mode':'crop'})}}">
                                    {% else %}
                                    <img alt="{{ profile.names }}" src="{{ 'person.svg'|media }}" width="236" height="236" class="no-image">
                                    {% endif %}
                                </div>
                                <div class="col-xs-12 coordinator_info">
                                    <h3>{{ profile.names }}</h3>
                                    <div class="body"><p class="read-more" onclick="expandReadMore(this);">Read more</p>{{ profile.content|raw }}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div id="mycomponentpartners" class="row">
        </div>
    </div>
</div>
