url = "/partner-projects"
layout = "default"
title = "Partner projects"
is_hidden = 0
meta_description = "synergies page"
seo_keywords = "keywords"
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]

[jumbotron intro]
jumbotron = "partner-projects-intro"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron role]
jumbotron = "forests-role-addressing-climate-and-biodiversity-challenges"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron how]
jumbotron = "how-are-forestnavigator-forestpaths-and-pathfinder-working-together"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron talks]
jumbotron = "foresttalks"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron research_projects]
jumbotron = "forest-research-projects-join-forces"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Synergies\Models\Synergy;
use Pensoft\Articles\Models\Article;
use Carbon\Carbon;

function onStart(){
    $this['research'] = Synergy::where('type', 1)->get();
    $this['outcomes'] = Synergy::where('type', 2)->get();
    $this['related_news'] = Article::news()->whereHas('categories', function ($query) {
                    $query->where('id', 4);
                    })->where('published_at', '<=', 'now')
                    ->where('published', 'true')
                    ->orderBy('published_at', 'DESC')->get();
}
?>
==
{% component 'siteSearchInclude' %}


{% component 'intro' %}

<div class="outreach_projects">
    {% component 'role' %}
    <div class="row center-xs">
        {% for record in outcomes %}
        <div class="col-md-4 col-xs-12">
            <div class="synergy_item">
                {% if record.logo %}
                <div class="synergy-image">
                    {% if record.url %}
                    <a href="{{record.url}}" target="_blank">
                    {% endif %}
                    <img src="{{record.logo.path}}">
                    {% if record.url %}
                    </a>
                    {% endif %}

                </div>

                    <div class="social_media_links icons">
                        {% if record.social_media %}
                        {% for social_item in record.social_media %}
                        <a href="{{social_item.link}}" target="_blank" class="pr p-secondary p-{{social_item.media}} big"></a>
                        {% endfor %}
                        {% endif %}
                    </div>

                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row center-xs">
        <div class="col-xs-12"><a href="https://linktr.ee/EUForestSisterProjects" target="_blank" class="btn btn-primary">
                        <img src="{{'linktree-logo.svg'|media}}" style="float: left; width: 15%; margin: 4px 4px;"> LinkTree
                    </a></div>
    </div>
</div>


<div class="container how_work_together">
    <div class="row middle-xs">
        <div class="col-md-6 col-xs-12 start-md center-xs">
        <img src="{{'sister-project-infographic.png'|media}}" title="How are ForestNavigator, ForestPaths and PathFinder working together?">
        </div>
        <div class="col-md-6 col-xs-12">
        {% component 'how' %}
        </div>
    </div>
</div>

<div class="talks">
    {% component 'talks' %}
</div>


<div class="container research_projects">
    {% component 'research_projects' %}
    <div class="row">
        {% for record in research %}
        <div class="col-md-3 col-xs-12">
            <div class="synergy_item">
                {% if record.logo %}
                <div class="synergy-image">
                    {% if record.url %}
                    <a href="{{record.url}}" target="_blank">
                        {% endif %}
                        <img src="{{record.logo.path}}">
                        {% if record.url %}
                    </a>
                    {% endif %}

                </div>

<!--                <div class="social_media_links icons">-->
<!--                    {% if record.social_media %}-->
<!--                    {% for social_item in record.social_media %}-->
<!--                    <a href="{{social_item.link}}" target="_blank" class="pr p-secondary p-{{social_item.media}} big"></a>-->
<!--                    {% endfor %}-->
<!--                    {% endif %}-->
<!--                </div>-->

                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>




<!-- News -->
{% if related_news.count %}
<!-- latest from news -->
<div class="container-fluid highlights-news">
    <div class="container">
        <h1 class="display-1">News</h1>
    </div>

    <div class="container prev-nex-container">
        <div class="trigger_prev_arrow"></div>
        <div class="trigger_next_arrow"></div>
    </div>

    <div class="trigger_prev"></div>
    <div class="trigger_next"></div>

    <div class="container highlights-news-slider-container">
        <div class="news-carousel">
            {% for highlight in related_news %}
            <div class="home-news-highlights">
                <div class="row news-item">
                    <div class="col-md-12 col-xs-12 home-news-cover">
                        <a href="/news/{{highlight.slug}}">
                            <img src="{{ highlight.cover.path}}" alt="{{ highlight.title }}">
                        </a>
                    </div>
                    <div class="col-md-12 col-xs-12 news-content">
                        <div class="news-date">{{ highlight.published_at|date('d M Y') }}</div>
                        <a href="/news/{{highlight.slug}}">
                            <div class="news-title">{{ highlight.title|length > 100 ? highlight.title|slice(0, 100)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : highlight.title|replace({"&nbsp;": " ", ".": ". "})  }}</div></a>
<!--                        <a href="/news/{{highlight.slug}}">-->
<!--                            <div class="row read-more-row">-->
<!--                                <div class="col-xs"><div class="read-more">{{'Read more' |_}}</div></div>-->
<!--                                <div class="col-xs end-xs"><div class="read-more-arrow"></div></div>-->
<!--                            </div>-->
<!--                        </a>-->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endif %}
