url = "/videos"
layout = "default"
title = "Videos"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "media.jpg"

[builderList mediaVideosList]
modelClass = "pensoft\Media\Models\Videos"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[jumbotron]
jumbotron = "under-construction"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0
==
<?php
use Pensoft\Media\Models\Videos;
use System\Models\File;
use Pensoft\Media\Models\VideosCategory;

function onFilterVideos()
{
    $categoryId = post('videoType');

    if ($categoryId === 'all') {
        $this['mediaVideosList'] = Videos::get();
    } else {
        $this['mediaVideosList'] = Videos::where('category_id', $categoryId)->get();
    }
}

function onStart(){
    $this['categories'] = VideosCategory::orderBy('sort_order')->get();
	$this['mediaVideosList'] =  Videos::where('pensoft_media_videos.parent_id', null)->get();
if(get('download')){
$file = File::find((int)get('download'));
$file_name = $file->getLocalPath();
$recordName = get('file_name') ? get('file_name') : 'ForestPaths_video';
$ext= $file->getExtension();

if (file_exists($file_name)) {
header('Content-Description: File Transfer');
header('Content-Type: application/octet-stream');
header("Content-Type: application/force-download");
header('Content-Disposition: attachment; filename='.$recordName .'.'. $ext);
header('Content-Transfer-Encoding: binary');
header('Expires: 0');
header('Cache-Control: must-revalidate, post-check=0, pre-check=0');
header('Pragma: public');
header('Content-Length: ' . filesize($file_name));
ob_clean();
flush();
readfile($file_name);
exit();
}
return Redirect::to('/media-center/videos');
}
}
?>
==




{% set records = mediaVideosList %}

{% if records.count %}
<div class="container mt-4">

    {% if categories.count > 0 %}
    <div class="row tabs">
        <a href="javascript:;"
           class="active"
           data-request="onFilterVideos"
           data-request-data="videoType: 'all'"
           data-request-update="'components/videos-records': '#video-records'">
            All materials
        </a>
        {% for category in categories %}
        <a href="javascript:;"
           data-request="onFilterVideos"
           data-request-data="videoType: {{ category.id }}"
           data-request-update="'components/videos-records': '#video-records'">
            {{ category.name }}
        </a>
        {% endfor %}
    </div>
    {% endif %}

	<div class="row video-records" id="video-records">
		{% for record in records %}
		{# Use spaceless tag to remove spaces inside the A tag. #}
		{% spaceless %}
		<div class="col-md-6 col-xs-12">
			<div class="">

				{% if record.file %}
				<video controls="" width="761"  style="max-width: 100%; border-radius: 5px;"><source src="{{record.file.path}}" type="video/mp4"></video>

				<p>Attachment: {{record.file.file_name}}, {{record.file.size}}</p>

				<p><a class=" btn btn-primary" href="{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.name|replace({' ': '_'})}}">Download</a></p>

				<p class="card_title font-weight-bold mt-1">{{record.name}}</p>

				{% endif %}

				{% if record.youtube_url %}
					<!--<div class="youtube-video " data-id="{{record.youtube_url}}">
						<img src="/storage/app/media/play.svg" data-src="/storage/app/media/play.svg" alt="Video Thumbnail" class="fr-fic fr-dii">
			            <div class="play-button"><br></div>
			            <div class="iframe-container">-->
							<iframe width="761" height="447" style="max-width: 100%; border-radius: 22px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen src="{{record.youtube_url}}">
							</iframe>
						<!--</div>-->
						<p class="card_title font-weight-bold mt-1">{{record.name}}</p>

				{% endif %}

				{% if record.vimeo_url %}
				<iframe width="761" height="447" style="max-width: 100%; border-radius: 5px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						src="{{record.vimeo_url}}">
				</iframe>
				<p class="card_title font-weight-bold mt-1">{{record.name}}</p>
				{% endif %}


			</div>
		</div>




		{% endspaceless %}

		{% endfor %}
	</div>
</div>
{% else %}
<div class="container-fluid bg-secondary coming_soon">
    {% component 'jumbotron' %}
</div>
{% endif %}
