.jumbotron {
    position: absolute;
    z-index: 100;

    .breakpoint-large-down({
        padding-top: 95px;
    });

}

.jumbotron p{
  color: #ffffff!important;
}

.background .container{
  padding: 0 5px;
}

.background {
    color: #35393E;
    .row.between-md.around-xs{
        .breakpoint-small-down({
            display: flex;
            flex-direction: column-reverse;
        });
    }
    .background_bg{
        background: url("../../assets/images/about1.jpg") top center no-repeat;
        background-size: cover;
        .breakpoint-small-down({
            order: 1!important;
            min-height: 300px;
        });
    }
    .container{
        padding: 5% 10%;
        min-height: 300px;
        max-width: 880px;
        display: flex;
        flex-direction: column;
        //b, strong{
        //    color: @link-color;
        //}

    }
    p:has(a.edit-link){
        display: none;
    }
  h1{
    text-align: left!important;
      font-size: 48px;
      color: @default-color;
  }
}
.ambition{
    color: #35393E;
    .ambition_bg{
        background: url("../../assets/images/about2.jpg") center no-repeat;
        background-size: cover;
        .breakpoint-small-down({
            min-height: 300px;
        });
    }
    .container{
        padding: 5% 10%;
        min-height: 300px;
        max-width: 880px;
        display: flex;
        flex-direction: column;
        //b, strong{
        //    color: @link-color;
        //}
    }
    p:has(a.edit-link){
        display: none;
    }
  h1{
    text-align: left!important;
      font-size: 48px;
      color: @default-color;
  }
}


.canopy {
    color: #35393E;
    .row.between-md.around-xs{
        .breakpoint-small-down({
            display: flex;
            flex-direction: column-reverse;
        });
    }
    .canopy_bg{
        background: url("../../assets/images/canopy.jpg") top center no-repeat;
        background-size: cover;
        .breakpoint-small-down({
            order: 1!important;
            min-height: 300px;
        });
    }
    .container{
        padding: 4% 10%;
        min-height: 300px;
        max-width: 880px;
        display: flex;
        flex-direction: column;
        //b, strong{
        //    color: @link-color;
        //}

    }
    p:has(a.edit-link){
        display: none;
    }
    h1{
        text-align: left!important;
        font-size: 48px;
        color: @default-color;
    }
}


.forum {
    color: #35393E;
    .row.between-md.around-xs{
        .breakpoint-small-down({
            display: flex;
            flex-direction: column-reverse;
        });
    }
    .forum_bg{
        background: url("../../assets/images/policy-engagement-forum-image.jpg") top center no-repeat;
        background-size: cover;
        .breakpoint-small-down({
            order: 1!important;
            min-height: 300px;
        });
    }

    .container{
        padding: 5% 10%;
        min-height: 300px;
        max-width: 880px;
        display: grid;
        flex-direction: column;
        align-items: center;
        //b, strong{
        //    color: @link-color;
        //}

    }
    p:has(a.edit-link){
        display: none;
    }
    h1{
        text-align: left!important;
        font-size: 48px;
        color: @default-color;
    }
}


.objectives{
    ol {
        counter-reset: item;
        list-style-type: none;
        display: inline-flex;
        .breakpoint-small-down({
            display: block;
        });
    }
    li {
        counter-increment: item;
        margin-bottom: 5px;
        flex-basis: 20%;
        max-width: 290px;
        text-align: center;
        padding: 0 30px;
        .breakpoint-small-down({
            margin-bottom: 50px;
        });

    }
    li:before {
        //margin-right: 107px;
        content: counter(item);
        background: url("../../assets/images/about-cirlce.svg") top center no-repeat;
        color: white;
        background-size: 107px;
        width: 100%;
        height: 127px;
        margin-bottom: 35px;
        text-align: center;
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        font-family: Raleway;
        line-height: 103px;
    }
}

.demo-cases .container{
    padding-right: 0;
    padding-left: 0;
}


.demoCasesIntro{
    padding-bottom: 0;

    p{
        margin: 15px 0 0 0 !important;
    }
    
    .container{
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    ol {
        list-style: none;
        counter-reset: item;
        list-style-type: none;
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 100px;
        .breakpoint-small-down({
            flex-direction: column;
        });
    }
    li {
        counter-increment: item;
        margin-bottom: 5px;
        flex-basis: 20%;
        max-width: 310px;
        text-align: center;
        padding: 0 30px;
        .breakpoint-small-down({
            flex-basis: 100%;
            margin-bottom: 50px;
        });

    }
    li:before {
        //margin-right: 107px;
        content: counter(item);
        background: url("../../assets/images/about-cirlce.svg") top center no-repeat;
        color: white;
        background-size: 107px;
        width: 100%;
        height: 127px;
        margin-bottom: 35px;
        text-align: center;
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        font-family: Raleway;
        line-height: 103px;
    }
}

.demoCasesMap{
    ul {
        list-style: none;
        list-style-type: none;
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 100px;
        padding: 0 50px 0 0;
        .breakpoint-small-down({
            flex-direction: column;
            padding: 0;
        });
    }
    li {
        margin-bottom: 5px;
        flex-basis: 20%;
        max-width: 170px;
        text-align: center;
        padding: 150px 30px 0 30px;
        text-align: center;
        font-size: 22px;
        font-family: Raleway;
        font-weight: bold;
        color: @default-color;
        .breakpoint-small-down({
            flex-basis: 100%;
            margin-bottom: 50px;
            margin: 30px auto;
        });
        a{
            color: @default-color;

        }
        &:hover{
            opacity: 0.7;
            cursor: pointer;
        }

        &:nth-of-type(1){
            background: url("../../assets/images/demo-case-boreal.svg") top center no-repeat;
            background-size: 64px auto;
        }
        &:nth-of-type(2){
            background: url("../../assets/images/demo-case-atlantic.svg") top center no-repeat;
            background-size: 110px auto;
        }
        &:nth-of-type(3){
            background: url("../../assets/images/demo-case-meditteranean.svg") top center no-repeat;
            background-size: 110px auto;
        }
        &:nth-of-type(4){
            background: url("../../assets/images/demo-case-continental.svg") top center no-repeat;
            background-size: 134px auto;
            background-position-y: 25px;
        }
    }
}

.boreal-climate, .atlantic-climate, .mediterranean-climate, .continental-climate{
    margin: 100px 0;
    img{
        max-width: 310px;
        object-fit: cover;
    }

    h2{
        font-size: 48px;
        text-align: left!important;
    }

    ul {
        list-style: none;
        margin-left: 13px;
        li{
            margin-bottom: 14px;
        }
    }

    ul li::before {
        content: "\2022";
        font-weight: bold;
        font-size: 40px;
        display: inline-block;
        width: 40px;
        margin-left: -40px;
        margin-top: -3px;
        position: absolute;
    }

}

.boreal-climate{
    h2{
        color: #0E753D;
    }
    ul li::before {
        color: #0E753D;
    }
}

.atlantic-climate{
    h2{
        color: #F97B1C;
    }
    ul li::before {
        color: #F97B1C;
    }
}

.mediterranean-climate{
    h2{
        color: #FBA919;
    }
    ul li::before {
        color: #FBA919;
    }
}

.continental-climate{
    h2{
        color: #72BC46;
    }
    ul li::before {
        color: #72BC46;
    }
}
.flip_cards_container{
    .col-md.col-xs-12{
        float: left;
    }
    .col-lg-3:has(.flip-card){
        .breakpoint-laptop-down({
            max-width: 50%;
            flex-basis: 50%;
        });
        .breakpoint-large-down({
            max-width: 100%;
            flex-basis: 100%;
        });
    }
    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    .flip-card {
        background-color: transparent;
        width: 95%;
        height: 630px;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
        margin-bottom: 75px;
        .breakpoint-laptop-down({
            height: 580px;
            margin: 0px auto 60px auto;
        });
        .breakpoint-small-down({
            height: 620px;
            margin: 0px auto 60px auto;
        });
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background-color: @secondary-color;
        border-top: 30px solid @secondary-color;

        h3{
            font-size: 30px;
            font-family: Raleway;
            font-weight: bold;
            padding: 0px 30px 0 30px;
            .breakpoint-laptop-down({
                font-size: 24px;
            });
        }

        img{
            margin: 0 35px;
            width: calc(~'100% - 70px');
            //width: -webkit-calc(100% - 60px);
            //width:    -moz-calc(100% - 60px);
            //width:      -o-calc(100% - 60px);
            height: 294px;
            object-fit: cover;
            .breakpoint-laptop-down({
                height: 180px;
            });
        }

        .label_paths{
            background: url("../../assets/images/about-cirlce.svg") top center no-repeat;
            color: white;
            background-size: 88px;
            width: 100%;
            height: 103px;
            margin-bottom: 35px;
            margin-top: 35px;
            text-align: center;
            display: inline-block;
            font-size: 26px;
            font-weight: bold;
            line-height: 93px;
        }

        .label_description{
            color: @yellow-color;
            font-size: 20px;
            text-align: center;
            padding: 0 40px;
        }

        p{
            padding: 35px;
            height: 160px;
            font-size: 30px;
            line-height: 38px;
        }
    }

    /* Style the back side */
    .flip-card-back {
        background-color: @secondary-color;
        border-top: 30px solid @yellow-color;
        transform: rotateY(180deg);
        p{
            padding: 80px 35px;
            text-align: left!important;
        }
    }

    .col-md.col-xs-12:nth-child(odd) .flip-card-front span{
        background: url("../../assets/images/leaf2.svg") center no-repeat;
        background-size: 113px;
        width: 113px;
        height: 113px;
        margin: 30px auto;
        color: white;
        font-size: 31px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col-md.col-xs-12:nth-child(even) .flip-card-front span{
        background: url("../../assets/images/leaf1.svg") center no-repeat;
        background-size: 113px;
        width: 113px;
        height: 113px;
        margin: 30px auto;
        color: white;
        font-size: 31px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col-md.col-xs-12:nth-child(1) .flip-card-front .some_image{
        background: url("../../assets/images/WP1.png") top center no-repeat;
        width: 100%;
        height: 50px;
        background-size: contain;
    }
    .col-md.col-xs-12:nth-child(2) .flip-card-front .some_image,
    .col-md.col-xs-12:nth-child(3) .flip-card-front .some_image{
        background: url("../../assets/images/WP2-3logo.png") top center no-repeat;
        width: 100%;
        height: 50px;
        background-size: contain;
    }


    .col-md.col-xs-12:nth-child(4) .flip-card-front .some_image{
        background: url("../../assets/images/WP4.png") top center no-repeat;
        width: 100%;
        height: 50px;
        background-size: contain;
    }
    .col-md.col-xs-12:nth-child(5) .flip-card-front .some_image {
        background: url("../../assets/images/WP5logo.png") top center no-repeat;
        width: 100%;
        height: 50px;
        background-size: contain;
    }

    .col-md.col-xs-12:nth-child(6) .flip-card-front .some_image,
    .col-md.col-xs-12:nth-child(7) .flip-card-front .some_image{
        background: url("../../assets/images/WP6-7.png") top center no-repeat;
        width: 100%;
        height: 50px;
        background-size: contain;
    }

    .col-md.col-xs-12:nth-child(8) .flip-card-front .some_image,
    .col-md.col-xs-12:nth-child(9) .flip-card-front .some_image{
        background: url("../../assets/images/WP8-9logo.png") top center no-repeat;
        width: 100%;
        height: 50px;
        background-size: 55px;
    }

    .card-active{
        color: @white-color !important;

        .label_paths{
            background: url("../../assets/images/pin-white.svg") top center no-repeat;
            color: #009A49;   
        }
        
        h3, a, .label_description{
            color: @white-color !important;
        }

        .flip-card-back, .flip-card-front{
            background-color: #009A49 !important;
        }

        .flip-card-front{
            border-top: none !important;
            padding-top: 30px !important;
        }
    }

}

.data-tools, .models, .maps, .policy-labs, .demo-cases, .training{
    .container:first-of-type{
        p:first-of-type, p:not(.flip-card-back p){
            font-size:max(calc(12px + 1.5vw), 22px);
        }

    }
}

.flip-card-back p{
    font-size: unset!important;
    background: unset!important;
}

.flip-card{
    .breakpoint-large-down({
        height: 680px;
    });
    h3{
        .breakpoint-small-down({
            min-height: unset!important;
        });
    }
}

.policy-pathways{
    .flip-card{
        height: 680px;
        h3{
            min-height: 47px;
            .breakpoint-small-down({
                min-height: 90px;
            });
        }
        
        .breakpoint-laptop-down({
            height: 560px;
        });
        .breakpoint-huge-down({
            height: 750px;
        });
        .breakpoint-small-down({
            height: 630px!important;
        });
        
    }
}

.models{
    .flip-card{
        height: 790px;
        h3{
            min-height: 90px;
            .breakpoint-small-down({
                min-height: 90px;
            });
        }

        .breakpoint-laptop-down({
            height: 580px!important;
        });

        .breakpoint-small-down({
            height: 640px!important;
        });
    }
    .container{
        padding-bottom: 0;
        //padding-top: 0;
    }
}

.data-tools{
    .flip-card{
        height: 720px;
        h3{
            min-height: 90px;
            .breakpoint-laptop-down({
                min-height: 47px;
            });
        }
        .breakpoint-laptop-down({
            height: 580px!important;
        });
        .breakpoint-small-down({
            height: 640px!important;
        });
    }

    .col-lg-3:has(.flip-card){
        .breakpoint-screen-down({
            max-width: 50%;
            flex-basis: 50%;
        });
        .breakpoint-large-down({
            max-width: 100%;
            flex-basis: 100%;
        });
    }
}

.maps{
    .flip-card{
        height: 800px;
        h3{
            min-height: 157px;
            .breakpoint-laptop-down({
                min-height: 108px;
            });
            .breakpoint-huge-down({
                min-height: 120px;
            });
        }

        .breakpoint-laptop-down({
            height: 680px!important;
        });

    }
}


.canopy_label{
    background: url("../../assets/images/about-cirlce.svg") top center no-repeat;
    color: white;
    background-size: 88px;
    width: 100%;
    height: 103px;
    margin-bottom: 35px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    line-height: 93px;
}

.canopy_description{
    color: @yellow-color;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    padding: 0 40px;
}

.labs_item{
    background: @secondary-color;
    padding: 50px 30px!important;
    max-width: 355px!important;
    text-align: center;
    font-size: 22px;
    margin-bottom: 75px;

    .breakpoint-laptop-down({
        max-width: 24%!important;
    });
    .breakpoint-huge-down({
        max-width: 48%!important;
    });
    .breakpoint-large-down({
        max-width: 100%!important;
    });

    h4{
        font-weight: bold;
        font-size: 24px;
    }

    .label_description{
        min-height: 140px;
        margin-top: 40px!important;
        .breakpoint-laptop-down({
            min-height: 175px;
        });
        .breakpoint-laptop-down({
            min-height: 175px;
        });
    }

    .label_labs{
        background: url("../../assets/images/about-cirlce.svg") top center no-repeat;
        color: white;
        background-size: 88px;
        width: 100%;
        height: 103px;
        margin-bottom: 35px;
        margin-top: 35px;
        text-align: center;
        display: inline-block;
        font-size: 26px;
        font-weight: bold;
        line-height: 93px;
    }

    .label_title{
        color: @yellow-color;
        font-size: 20px;
        text-align: center;
        padding: 0 40px;
    }
}

.training{
    .training_item{
        background: @secondary-color;
        padding: 20px;
        border-radius: 5px;
        max-width: 24%;
        margin-bottom: 50px;

        .breakpoint-laptop-down({
            max-width: 48% !important;
            flex-basis: 48%;
        });

        .breakpoint-large-down({
            max-width: 100% !important;
            flex-basis: 100%;
        });

        h2{
            //font-size: 26px;
            font-size:calc(24px + 1.5vw);
            line-height: calc(28px + 1.5vw);
            text-align: left !important;
            height: 102px;
            display: flex;
            align-items: center;
            padding-left: 120px;
            font-weight: 600;

            .breakpoint-laptop-down({
                padding-left: 94px;
                font-size:calc(22px + 0.5vw);
                line-height: calc(26px + 0.5vw);
            });
            .breakpoint-large-down({
                padding-left: 0px!important;
                padding-top: 108px;
                background-position: top center!important;
                height: unset;
                display: flex;
                text-align: center!important;
                justify-content: center;
                font-size:calc(24px + 1.5vw);
                line-height: calc(28px + 1.5vw);
            });
        }

        &:nth-of-type(1){
            h2{
                background: url("../../assets/images/policymakers.svg") left center no-repeat;
                background-size: 102px;
                .breakpoint-laptop-down({
                    background-size: 82px;
                });

            }
        }
        &:nth-of-type(2){
            h2{
                background: url("../../assets/images/training2.svg") left center no-repeat;
                background-size: 102px;
                .breakpoint-laptop-down({
                    background-size: 82px;
                });
            }
        }
        &:nth-of-type(3){
            h2{
                background: url("../../assets/images/training3.svg") left center no-repeat;
                background-size: 102px;
                .breakpoint-laptop-down({
                    background-size: 82px;
                });
            }
        }
        &:nth-of-type(4){
            h2{
                background: url("../../assets/images/training4.svg") left center no-repeat;
                background-size: 102px;
                .breakpoint-laptop-down({
                    background-size: 82px;
                });
            }
        }

        ol {
            list-style: none;
            counter-reset: item;
        }
        li {
            counter-increment: item;
            margin-bottom: 15px;
            font-weight: bold;
            font-family: Raleway;
            color: @default-color;
            font-size:calc(18px + 1.5vw);
            line-height: calc(22px + 1.5vw);
            background: url("../../assets/images/bullet.svg") left center no-repeat;
            background-size: 69px 69px;
            position: relative;
            min-height: 89px;
            display: flex;
            align-items: center;
            padding-left: 102px;
            position: relative;
            margin-left: 20px;
            .breakpoint-laptop-down({
                height: auto;
                min-height: 55px;
                background-size: 55px 55px;
                padding-left: 76px;
                margin-left: 13px;
                font-size:calc(16px + 1.5vw);
                line-height: calc(22px + 1.5vw);
                font-weight: normal;
            });
        }
        li:before {
            content: counter(item);
            position: absolute;
            color: white;

            //width: 75px;
            height: 75px;
            /* margin-bottom: 35px; */
            text-align: left;
            //padding-left: 29px;
            display: inline-block;
            font-size: 28px;
            font-weight: bold;
            font-family: Raleway;
            line-height: 72px;
            margin-left: -81px;
            .breakpoint-laptop-down({
                margin-left: -60px;
                font-size: 30px;
            });
        }
    }
}
