{% for record in records %}
{# Use spaceless tag to remove spaces inside the A tag. #}
{% spaceless %}
<div class="col-md-6 col-xs-12">
    <div class="">

        {% if record.file %}
        <video controls="" width="761"  style="max-width: 100%; border-radius: 5px;"><source src="{{record.file.path}}" type="video/mp4"></video>

        <p>Attachment: {{record.file.file_name}}, {{record.file.size}}</p>

        <p><a class=" btn btn-primary" href="{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.name|replace({' ': '_'})}}">Download</a></p>

        <p class="card_title font-weight-bold mt-1">{{record.name}}</p>

        {% endif %}

        {% if record.youtube_url %}
        <!--<div class="youtube-video " data-id="{{record.youtube_url}}">
            <img src="/storage/app/media/play.svg" data-src="/storage/app/media/play.svg" alt="Video Thumbnail" class="fr-fic fr-dii">
            <div class="play-button"><br></div>
            <div class="iframe-container">-->
        <iframe width="761" height="447" style="max-width: 100%; border-radius: 22px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen src="{{record.youtube_url}}">
        </iframe>
        <!--</div>-->
        <p class="card_title font-weight-bold mt-1">{{record.name}}</p>

        {% endif %}

        {% if record.vimeo_url %}
        <iframe width="761" height="447" style="max-width: 100%; border-radius: 5px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                src="{{record.vimeo_url}}">
        </iframe>
        <p class="card_title font-weight-bold mt-1">{{record.name}}</p>
        {% endif %}


    </div>
</div>




{% endspaceless %}

{% endfor %}
